/*
    Template:       pisces
    Theme Name:     Pisces Child
    Theme URI:      http://themeforest.net/user/LA-Studio/portfolio?ref=LA-Studio
    Author:         LA Studio
    Author URI:     http://themeforest.net/user/LA-Studio?ref=LA-Studio
    Description:    Pisces - Multi Concept Creative Theme
    Version:        1.0
    Tags:           one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
    License: 		GNU General Public License
	License URI: 	licence/GPL.txt
    Text Domain:    pisces-child
    Domain Path:    /languages/
*/



.sf-fields {
    border: 1px solid #e1e1e1;
    border-radius: 6px;
    -webkit-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    font-size: 12px;
}

.sf-fields select {
    border: none;
    padding: 0 20px;
    height: 36px;
    background-position: right -15px center;
    background-color: #f4f4f4;
    border-radius: 6px 0 0 6px;
}

.sf-fields .sf-field-select {
    padding-left: 0;
}

.sf-fields .sf-field-input {
    padding: 0;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto !important;
}


.sf-fields .search-button {
    position: absolute;
    width: 40px;
    margin-right: 0;
    padding-top: 0;
    transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    font-size: 12px;
    color: #fff;
    background-color: #2253d9;
    height: 38px;
    top: 0px;
    right: 0;
    border-radius: 0 6px 6px 0;
}

.sf-fields .search-field {
    border: none;
    padding: 0 45px 0 10px;
	background-color: #fff;
    height: 36px;
}

.sf-fields #width_tmp_select {
    display: none;
}

.header-v1 .site-header .header-main .header-left{
    width: 120px;
}

.header-component-inner.essees-custom-menu{
    position: relative;
}

.essees-custom-menu .custom-header-menu{
    float: left;
    cursor: pointer;
}
.essees-custom-menu .custom-header-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
}
.custom-header-menu .custom-toggle-primary-menu {
    line-height: 20px;
    vertical-align: middle;
    padding: 10px;
    cursor: pointer;
}

.custom-header-menu .custom-toggle-primary-menu svg{
    height: 20px;
    display: none;
    vertical-align: middle;
}

.essees-custom-menu .custom-toggle-primary-menu span {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10px;
	padding-right: 10px;
    vertical-align: middle;
	color: white;
}
.essees-custom-menu .custom-header-menu .header-aside-nav{
    left: 0;
    top: 100%;
    background-color: #232324;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    text-transform: none;
    position: absolute;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
    -webkit-transform-origin: 50% 0;
    min-height: 70vh;
}

.essees-custom-menu .custom-header-menu:hover .header-aside-nav{
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
}
.essees-custom-menu .searchform-wrapper{
    float: left;
    margin-top: 1px;
    margin-left: 20px;
	width: calc(100vw - 120px - 500px);
    width: -webkit-calc(100vw - 120px - 500px);
}
.essees-custom-menu .mega-menu > li > a{
    padding: 5px 30px;
    font-size: 14px;
}
.essees-custom-menu .mega-menu > li{
    position: static;
}
.essees-custom-menu .mega-menu{
    position: relative;
}
.site-header .essees-custom-menu .mega-menu > li:hover > .popup{
    margin-top: 10px;
}

#masthead .essees-custom-menu .nav-inner{
    width: 280px;
}
.site-header .essees-custom-menu .mega-menu > li > .popup {
    max-width: 800px;
}
.essees-custom-menu  .mega-menu .mm-popup-wide .popup > .inner > ul.sub-menu {
    max-width: 800px;
}
.essees-custom-menu .mega-menu .popup > .inner {
    min-height: 70vh;
}
.mega-menu .mm-popup-narrow ul.sub-menu li, .mega-menu .mm-popup-wide .inner > ul.sub-menu > li li {
    position: static;
}

.mega-menu .mm-popup-narrow ul.sub-menu li.submenu-position-right > ul.sub-menu, .mega-menu .mm-popup-wide .inner > ul.sub-menu > li li.submenu-position-right > ul.sub-menu {
    min-height: 70vh;
	background-color: #101010;
}
.mega-menu li ul.sub-menu {
    min-width: 280px;
}