.testimonial_item{
  text-align: center;
  .testimonial_item--inner{
    margin-bottom: 20px;
  }
}
.testimonial_item--excerpt{
  font-size: 12px;
  line-height: 24px;
}


.la_testimonials--style-1{
  @extend %text-color-secondary;
  .testimonial_item--excerpt{
    max-width: 750px;
    margin: 0 auto;
    font-size: 55px;
    line-height: normal;
    @extend %highlight-font-family;
  }
  .testimonial_item--title-role{
    margin-top: 45px;
    display: inline-block;
    padding: 6px 25px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .testimonial_item--title{
      display: inline-block;
  }
  .testimonial_item--role{
    display: inline-block;
    &:before{
      content: "\f111";
      display: inline-block;
      padding: 0 5px;
      font-family: FontAwesome;
      font-size: 5px;
      vertical-align: top;
    }
  }
}

.la_testimonials--style-2{
  .testimonial_item--excerpt{
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .testimonial_item--title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .testimonial_item--role{
    @extend %text-color-body;
  }
  .slick-dots{
    margin-top: 5px;
  }
}

.la_testimonials--style-3{
  .testimonial_item--inner{
    margin-top: 40px;
    padding: 60px 35px 30px;
    border-width: 1px;
    border-style: solid;
    @extend %border-color;
    background-color: #fff;
  }
  .testimonial_item--image{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    img{
      @include border-radius(50%);
    }
  }
  .testimonial_item--title {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    padding-bottom: 5px;
    @extend %text-color-secondary;
    &:before{
      content: "";
      width: 25px;
      display: block;
      height: 3px;
      margin: 20px auto 11px;
      @extend %background-color-primary;
    }
  }
  .slick-dots{
    margin-top: 0;
  }
}
.la_testimonials--style-4{
  .testimonial_item--excerpt{
    font-size: 24px;
    line-height: 1.5;
  }
  .testimonial_item--title-role{
    padding-top: 10px;
    &:before{
      content: "";
      width: 50px;
      border-top-width: 2px;
      border-top-color: inherit;
      border-top-style: solid;
      display: block;
      margin: 20px auto;
    }
    .testimonial_item--role,
    .testimonial_item--title{
      display: inline-block;
      font-size: 18px;
    }
    .testimonial_item--role{
      &:before{
        content: "";
        border-width: 3px;
        border-style: solid;
        border-color: inherit;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        margin: 0 10px;
      }
    }
  }
}

.la_testimonials--style-5{
  .item-inner{
    color: #fff;
    border: 1px solid rgba(#fff, 0.5);
    margin: 0;
    padding: 40px 40px 30px;
    text-align: left;
    &:before{
      content: "";
      background: url(assets/images/quote.png) no-repeat center top;
      height: 23px;
      position: absolute;
      top: -12px;
      left: 40px;
      width: 60px;
    }
  }
  .testimonial_item--image{
    display: none;
  }
  .testimonial_item--excerpt{
    font-size: 20px;
    line-height: 30px;
    &:after{
      content: "";
      display: block;
      height: 2px;
      background-color: #fff;
      width: 40px;
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
  .testimonial_item--title{
    display: inline-block;
  }
  .testimonial_item--role{
    display: inline-block;
    &:before{
      content: "";
      border-width: 2px;
      border-style: solid;
      border-color: inherit;
      display: inline-block;
      border-radius: 50%;
      vertical-align: middle;
      margin: 0 8px;
    }
  }
  &.slick-vertical{
    padding-right: 60px;
    .slick-list{
      padding-top: 25%;
      padding-bottom: 25%;
    }
    .slick-dots{
      margin: 0;
      position: absolute;
      right: 32px;
      top: 50%;
      @include translate2d(0, -50%);
      li{
        display: block;
        width: 10px;
        height: 10px;
        margin: 10px 0;
      }
    }
    .slick-slide{
      &:not(.slick-active){
        opacity: 0.5;
      }
    }
  }
}

.la_testimonials--style-6{
  .testimonial_item--inner{
    padding: 40px 40px 40px 140px;
    background-color: #fff;
    margin-bottom: 0;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
  }
  .testimonial_item--info {
    margin-bottom: 15px;
  }
  .testimonial_item--image{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    background-color: #fcfcfc;
    @include border-radius(50%);
    img{
      @include border-radius(50%);
    }
  }
  .testimonial_item--title {
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    display: inline-block;
    margin-right: 5px;
    @extend %text-color-secondary;
  }
  .testimonial_item--role{
    display: inline-block;
  }
}

.la_testimonials--style-7{
  .testimonial_item--image{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto;
    @include border-radius(50%);
    img{
      @include border-radius(50%);
    }
  }
  .testimonial_item--excerpt{
    font-size: 18px;
    margin-top: 25px;
    @extend %highlight-font-family;
  }
  .testimonial_item--bottom{
    display: none;
  }
}